@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Roboto+Mono:wght@500&family=Roboto:wght@500&display=swap');
.NavBar {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%; 
    z-index: 1000; 
    display: flex;
    background-color:#1a1b1d; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15); 
    justify-content: space-between;
    padding: 10px 10px;
    border-bottom: 2px solid #CEB888;

}


.NavBar-links {
    display: flex; 
    list-style: none;
    margin: 0;
    padding: 0;
}

.NavBar-links li {
    margin-right: 20px;
}


.NavBar-links a {
    color: #FBF8E9;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s; 
    display: inline-block; 
    cursor: pointer;
}

.NavBar-links a:hover {
    background: #151617; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    transform: translateY(-5px); 
}


  .NavBar-socials {
    display: flex;
    align-items: center;
}

.NavBar-socials a {
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    width: 55px; 
    height: 55px; 
    margin-right: 10px;
    color: #FBF8E9;
    text-decoration: none;
    font-size: 18pt; 
    border-radius: 50%; 
    transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s; 
    cursor: pointer;
    overflow: hidden; 
}

.NavBar-socials svg {
    width: 28px; 
    height: 28px; 
    fill: currentColor;
    
}
  
.NavBar-socials a:hover {
    background: #1a1c1d; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    transform: translateY(-5px); 
    border-bottom: none; 
    cursor: pointer;
}

.menu-icon {
    display: none; 
    align-items: center;
    justify-content: center;
    cursor: pointer;
}





.menu-icon:hover{
    background: #1a1c1d; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    border-radius: 50%;
    border-bottom: none; 
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-icon {
        display: flex;
        fill: #FBF8E9;
        display: inline-flex; 
        width: 55px;
        height: 55px; 
    }

    .NavBar-links {
        display: none; 
    }

    .nav-drawer .NavBar-links {
        display: flex; 
        flex-direction: column;
        padding: 20px;
    }
    .nav-drawer.visible {
        left: 0;
    }
    .nav-drawer {
        position: fixed;
        top: 0;
        left: -100%; 
        width: 250px; 
        height: 100%;
        background-color: #1a1b1d;
        box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
        transition: left 0.3s;
        z-index: 2000; 
    }

}
